<app-hero-section></app-hero-section>
<app-search-section (search)="filterTrains($event)"></app-search-section>
<div style="background-image: url('/assets/main.png');" class="pb-5">
  <div class="container">
    <!-- عرض رسالة "لا توجد قطارات" بس لو مافيش تحميل ومافيش بيانات -->
    <div class="row" *ngIf="!isLoading && trains.length === 0">
      <div class="col-12 text-center py-5">
        <h3>لم يتم العثور على قطارات تطابق معايير البحث الخاصة بك.</h3>
      </div>
    </div>
    <!-- عرض ليستة القطارات -->
    <div class="row" *ngIf="!isLoading && trains.length > 0">
      <app-train-card *ngFor="let train of trains" [train]="train" (loadStations)="loadStations($event)"></app-train-card>
    </div>
  </div>
</div>