<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'offers'" (click)="activeTab = 'offers'">عروضي({{offers.length}})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'requests'" (click)="activeTab = 'requests'">طلباتي({{requests.length}})</a>
    </li>
  </ul>
  <div class="tab-content mt-3">
    <div *ngIf="activeTab === 'offers'">
      <div *ngIf="offers.length === 0" class="alert alert-info">
        لا توجد عروض متاحة
      </div>  
<app-offer-card [offers]="offers"></app-offer-card>
    </div>
    <div *ngIf="activeTab === 'requests'">
      <div *ngIf="requests.length === 0" class="alert alert-info">
        لا توجد طلبات متاحة
      </div>
        <app-request-card [requests]="requests"></app-request-card>
    </div>
  </div>
</div>