<footer class="footer">
  <div class="container">
    <!-- شعار الموقع -->
    <div class="logo">
      <img src="assets/NewLogo.png" alt="شعار ع السكه" />
    </div>
   
    <!-- التنقل الرئيسي -->
    <div class="footer-nav">
      <a [routerLink]="['/']" >الصفحة الرئيسية</a>
      <a [routerLink]="['/offers']">التوصيل </a>
      <a [routerLink]="['/stations']">الخدمات</a>
      <a [routerLink]="['/about-us']">من نحن</a>
      <a [routerLink]="['/public-chat']">المجتمع </a>
    </div>
   
    <!-- الخط الفاصل مع أيقونة القطار -->
    <div class="divider"></div>
   
    <!-- أيقونات التواصل الاجتماعي -->
    <div class="social-icons">
      <a href="#" title="فيسبوك"><i class="bi bi-facebook"></i></a>
      <a href="#" title="تويتر"><i class="bi bi-twitter"></i></a>
      <a href="#" title="واتساب"><i class="bi bi-whatsapp"></i></a>
      <a href="#" title="لينكد إن"><i class="bi bi-linkedin"></i></a>
      <a href="#" title="انستجرام"><i class="bi bi-instagram"></i></a>
    </div>
   
    <!-- أسفل الفوتر -->
    <div class="footer-bottom">
      <div>
        <a href="#">الشروط والأحكام</a>
        <a href="#">سياسة الخصوصية</a>
      </div>
      <div>
        حقوق النشر {{ year }} ع السكة. جميع الحقوق محفوظة.
      </div>
    </div>
  </div>
</footer>